@import "colors";
@import "sizes";

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
}

.app-container {
  padding: 0 50px 0 50px;
  display: grid;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .app-container {
    padding: 0 20px 0 20px;
  }
}

.main-container {
  color: $font-color;
  font-family: sans-serif;
  max-width: $custom-max-width;
  width: 100%;
}

.second-title {
  font-size: 28px;
  letter-spacing: 1px;
}

.generic-card-grid {
  margin-top: 30px;
  display: grid;
  row-gap: 22px;
  column-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
